<nav class="sidebar-nav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link pb-3 mt-2 mb-2" routerLink="/home/dashboard" routerLinkActive="active">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link pb-3 mb-2" routerLink="/home/assets" routerLinkActive="active">
        Assets
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link pb-3 mb-2" routerLink="/home/auctions" routerLinkActive="active">
        Auctions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link pb-3 mb-2" routerLink="/home/users" routerLinkActive="active">
        Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/settings" routerLinkActive="active">
        Settings
      </a>
    </li>
  </ul>
</nav>