<header class="navbar navbar-expand-lg navbar-light bg-light border-bottom rounded">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img src="/assets/mazadlogo.png" alt="Admin Logo" height="40" class="d-inline-block align-top rounded">
    </a>

    <div class="d-flex align-items-center">
      <div class="dropdown me-2" ngbDropdown>
        <button class="btn btn-outline-secondary rounded-pill dropdown-toggle" type="button" id="addDropdown" ngbDropdownToggle>
          <i class="bi bi-plus-lg"></i> Add
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="addDropdown" ngbDropdownMenu>
          <button class="dropdown-item  btn-outline-secondary" type="button" routerLink="/home/newUser" routerLinkActive="active">New Asset
          </button>
          <button class="dropdown-item  btn-outline-secondary" type="button" routerLink="/home/newAuction" routerLinkActive="active">New Auction
          </button>
          <button class="dropdown-item  btn-outline-secondary" type="button" routerLink="/home/newAsset" routerLinkActive="active">New Auction
          </button>
        </div>
      </div>

      <button class="btn btn-outline-secondary rounded-circle me-2" type="button" routerLink="/home/settings" routerLinkActive="active">
        <i class="bi bi-gear"></i>
      </button>

      <button class="btn btn-outline-dark rounded-pill" type="button"routerLink="/" routerLinkActive="active">
        <i class="bi bi-person-circle me-1" ></i>Login
      </button>
    </div>
  </div>
</header>